Repository,Capability,Repo Type,Verification Status,Timestamp Verification,Total Commits,Total Merged PRs,Distinct Committers Count,Distinct PR Authors Count,Last Commit Date,Last PR Date,Last Workflow Date,Avg Branch Duration (Hours),Avg Coding Time (Hours),Avg Review Time (Hours),Avg LOC Changed,Avg Review Time / LOC,MTTR-Sec (Hours),Successful Deployments,Avg Review Comments per PR,Avg Wait Time for First Review (Hours),Avg PR Description Length (Chars),Small to Large PR Ratio,Change Failure Rate (%),True Lead Time for Changes (Hours),CI/CD Failure Rate (%),CI/CD Avg Execution Time (Mins),Avg Code Churn (Commits),Distinct Committers List,Distinct PR Authors List,Environment,Timestamp
